<table class="ui celled table">
  <thead>
    {{> assessment-header}}
  </thead>
  <tbody>
    {{#each assessments}}
      <tr>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperArm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          {{#if trend}}
            <a class="ui teal tag label"></a>
          {{else}}
            <a class="ui red tag label"></a>
          {{/if}}
        </td>
        <td>
          {{comment}}
        </td>
        <td>
          <a href="/dashboard/deleteAssessment/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </td>        
      </tr>
    {{/each}}
  </tbody>
  
</table>